* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: #515151;
}

a, a:hover {
  text-decoration: none;
}

h1, h2,h3, h4, h5, h6 {
  text-transform: uppercase;
}

.container {
  width: 100%;
  padding: 0;
}

.site-header {
  background-color: black;
  color: white;
}

.site-header img {
  max-width: 250px;
  opacity: 0.8;
}

.site-title {
  padding-left: 3rem;
}

.site-title a {
  color: white;
}

.site-nav {
  padding-top: 2rem;
  padding-right: 2rem;
}

.site-nav li {
  display: inline;
  padding-left: 1.5rem;
  text-align: left;
}

.site-nav a, .site-nav a:visited {
  color: lightgray;
}

.site-nav a:hover {
  background-color: white;
  color: black;
}

.main-container {
  background-color: white;
}

.main-header {
  padding-top: 4rem;
  /*padding-left: 4rem;*/
}

blockquote {
  font-size: 1.45rem;
  margin-left: 3.5rem;
}

.main-divider {
  border-top: 1px solid lightgray;
}

.main-copy {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.main-copy-image {
  max-width: 275px;
  padding-top: 2rem;
}

.main-copy-image-inset {
  float: left;
  max-width: 250px;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.policy {
  font-style: italic;
  font-size: 12px;
}

.site-footer {
  padding-left: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: gray;
  letter-spacing: 1px;
}

.site-footer ul {
  text-align: left;
  padding: 0;
}

.site-footer li {
  display: inline;
  padding-right: 1rem;
}
