* {
  box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: black;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

#container {
  background-color: white;
}

.site-header {
  background-color: black;
  color: white;
}

.site-nav ul {
  padding-top: 3vh;
}

.site-nav li {
  display: inline;
  padding: .75vw;
}

.site-nav a, .site-nav a:visited {
  color: lightgray;
  text-decoration: none;
}

.site-nav a:hover {
  background-color: white;
  color: black;
}

.main-copy {
  margin: 0 auto;
  width: 60vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid lightgray;
}

.main-copy p {
  color: gray;
}

.main-copy-image {
  max-width: 250px;
}

.main-copy ul {
  list-style: none;
}

.main-aside {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main-policy {
  margin: 0 auto;
  width: 60vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: black;
  font-size: small;
  border-top: 1px solid lightgray;
}

.bold {
  color: black;
  font-weight: bold;
}

.site-footer {
  margin: 0 auto;
  width: 60vw;
  padding-top: 4rem;
  background-color: black;
}

.site-footer a {
  text-decoration: none;
}
