* {
  box-sizing: border-box;
}

html {
  /*background-color: #ffffff;*/
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

p {
  /*line-height: 1.5rem;*/
}

a, a:visited {
  /*color: #bf0000;*/
}

nav a, nav a:visited {
  /*color: purple;*/
}

nav {
  /*background-color: lightgray;
  font-size: 1.25rem;
  padding: .75rem 1rem;*/
  display: flex;
  justify-content: flex-end;
}

#container {
  margin-left: 2vw;
  background-color: white;
}

.site-header {
  display: flex;
  background-color:black;
  color: white;
}

.site-nav li {
  display: flex;
}

.grid {
  display: flex;
  /*flex-direction: row;*/
}

.grid-cell {
  flex: 1;
  padding: 3vw;
}

/* With gutters */
.Grid--gutters {
  margin: -1em 0 0 -1em;
}
.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em;
}

/* Alignment per row */
.Grid--top {
  align-items: flex-start;
}
.Grid--bottom {
  align-items: flex-end;
}
.Grid--center {
  align-items: center;
}

/* Alignment per cell */
.Grid-cell--top {
  align-self: flex-start;
}
.Grid-cell--bottom {
  align-self: flex-end;
}
.Grid-cell--center {
  align-self: center;
}

.copyright {
  /*text-align: center;*/
}
